@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.products-bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;
    max-width: 300px;
    flex-wrap: wrap;

}

.product-cards {
    display: flex;
    justify-content: center;
    min-width: 0;
    max-width: 60%;
    flex: 1 1 0;
    gap: 15px;
}

.product1, .product2, .product3, .product4 {
   display: flex;
   min-width: 0;
   flex: 1 1 0;
   flex-direction: column;
   justify-content: center;
}

.product1-img, .product2-img, .product3-img, .product4-img {
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    flex: 1 1 auto;
    border-radius: 10%;
    border: 3px solid;
    border-color: #3882F6;

}

.product1-text, .product2-text, .product3-text, .product4-text {
    flex: 1 1 auto;
    font-size: 12px;
    min-height: 140px;

}

.citat {
    display: flex;
    flex: 4 1 auto;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.citat-content {
    max-width: 60%;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
}

.citat-text {
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.citat-op {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: flex-end;
}

.button-bg {
    background-color: white;
    display: flex;
    justify-content: center;
    min-width: 100%;
    padding: 30px 0 30px 0; 
}

.button-section {
    display: flex;
    flex: 1 1 0;
    background-color: #3882F6;
    border-radius: 15px;
    max-width: 60%;
    max-height: 80px;
    min-height: 50px;
    min-width: 100px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;  
}

.call-texts {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.call-text-big {
    font-weight: bold;
    font-size: medium;
}

.call-small-text {
    font-size: small;
}

button {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    flex: 0 0 1;
}

footer {
    background-color: #1f2937;
    font-size: small;
    color: #F9Faf8;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 65px;
    min-height: 60px;
    max-width: 100%;
}